* {
    
    padding: 0;
    margin: 0;

}


header,
header * {
    outline: 1px dashed blue;
   
}

section.hero,
section.hero * {
    outline: 1px dashed red;
}

section.about,
section.about * {
    outline: 1px dashed green;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem 2rem 0;
    background-color: #ffffff;
    align-items: center;
    position: fixed;
    z-index: 1000;
    width: 100%;
    color: #000000;
}

header h1 {
    
    padding: 0 3rem;
    font-size: 1.5rem;
    font-weight: 600;
}

header button {
   
    
    padding: 0.5rem 1rem; 
    border: none;
    background: transparent;
    font-weight: 600;
    color: #000000;


    &:hover {
        background-color: rgb(173, 241, 255);
        transition: background-color 1s;
        cursor: pointer;
    }
}

section.hero {

    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 128, 128);
    color: rgb(252, 252, 252);
    text-align:left;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0 1rem;
    position: relative;

}

& section.hero .left {
    width: 50%;
    padding: 0 2rem;

    h3 {

        font-size: 4rem;
        margin-bottom: 1rem;
    }
}

& section.hero .right {
    width: 50%;
    padding: 0 2rem;

    img {
        width: 100%;
        height: auto;
    }
}

section.about {

    display: flex;
    align-items: center;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align:left;
    font-size: 1rem;
    letter-spacing: 1px;
    padding: 0 1rem;
    position: relative;

}



